body {
    background: linear-gradient(to bottom, #f0d9ff, #8ecae6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}

.not-user {
    text-align: center;
    margin-top: 10px;
}

.not-user a {
    color: #ffffff;
    background-color: #4f46e5;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}
